server:
    bind:
        host: 0.0.0.0
        port: 80
    url: ${WIS2BOX_API_URL}
    mimetype: application/json; charset=UTF-8
    encoding: utf-8
    languages:
        - en-US
    pretty_print: false
    limits:
        default_items: 500
        max_items: 10000
    map:
        url: ${WIS2BOX_BASEMAP_URL}
        attribution: ${WIS2BOX_BASEMAP_ATTRIBUTION}
    templates:
        path: /pygeoapi/pygeoapi/templates
    admin: true
    manager:
        name: TinyDB
        connection: /tmp/pygeoapi-process-manager.db
        output_dir: /tmp/
    icon: ${WIS2BOX_ICON:-/oapi/static/img/favicon.ico}
    logo: ${WIS2BOX_LOGO:-/oapi/static/img/logo.png}

logging:
    level: ${WIS2BOX_LOGGING_LOGLEVEL}
    #logfile: /tmp/pygeoapi.log

metadata:
    identification:
        title:
            en: ${WIS2BOX_IDENTIFICATION_TITLE:-WIS2 in a box API}
        description:
            en: ${WIS2BOX_IDENTIFICATION_DESCRIPTION:-WIS2 in a box API provides data and processes for interactive visualization, data transformation and publication}
        keywords:
            en:
                - wis2box
                - WIS2 Node
        url: ${WIS2BOX_IDENTIFICATION_URL:-https://docs.wis2box.wis.wmo.int}
        terms_of_service: ${WIS2BOX_IDENTIFICATION_TERMS_OF_SERVICE:-https://www.apache.org/licenses/LICENSE-2.0}
    provider:
        name: ${WIS2BOX_PROVIDER_NAME:-WIS 2.0 in a box}
        url: ${WIS2BOX_PROVIDER_URL:-https://docs.wis2box.wis.wmo.int}
    contact:
        name: ${WIS2BOX_CONTACT_NAME:-World Meteorological Organization}
        address: ${WIS2BOX_CONTACT_ADDRESS:-7bis, avenue de la Paix}
        city: ${WIS2BOX_CONTACT_CITY:-Geneva}
        postalcode: ${WIS2BOX_CONTACT_POSTALCODE:-code 1211}
        country: ${WIS2BOX_CONTACT_COUNTRY:-Switzerland}
        email: ${WIS2BOX_CONTACT_EMAIL:-}
        url: ${WIS2BOX_CONTACT_URL:-https://wmo.int/contact-us}
        role: ${WIS2BOX_CONTACT_ROLE:-host}
    license:
        name: ${WIS2BOX_LICENSE_NAME:-Apache License 2.0}
        url: ${WIS2BOX_LICENSE_URL:-https://www.apache.org/licenses/LICENSE-2.0}

resources:
    station-info:
        type: process
        processor:
            name: wis2box_api.plugins.process.station_info.StationInfoProcessor

    dataset-info:
        type: process
        processor:
            name: wis2box_api.plugins.process.dataset_info.DatasetInfoProcessor
    
    mappings-info:
        type: process
        processor:
            name: wis2box_api.plugins.process.mappings_info.MappingsInfoProcessor

    pygeometa-metadata-generate:
        type: process
        processor:
            name: pygeometa.pygeoapi_plugin.PygeometaMetadataGenerateProcessor

    pywis-topics-list:
        type: process
        processor:
            name: pywis_topics.pygeoapi_plugin.WIS2TopicHierarchyListTopicsProcessor

    pywis-topics-validate:
        type: process
        processor:
            name: pywis_topics.pygeoapi_plugin.WIS2TopicHierarchyValidateTopicProcessor

    pywcmp-wis2-wcmp2-ets:
        type: process
        processor:
            name: pywcmp.pygeoapi_plugin.WCMP2ETSProcessor

    pywcmp-wis2-wcmp2-kpi:
        type: process
        processor:
            name: pywcmp.pygeoapi_plugin.WCMP2KPIProcessor
            
    bufr2geojson:
        type: process
        processor:
            name: wis2box_api.plugins.process.bufr2geojson.Bufr2geojsonProcessor

    cap2geojson:
        type: process
        processor:
            name: wis2box_api.plugins.process.cap2geojson.Cap2geojsonProcessor

    oscar2feature:
        type: process
        processor:
            name: wis2box_api.plugins.process.oscar2feature.Oscar2FeatureProcessor

    wis2box-publish_dataset:
        type: process
        processor:
            name: wis2box_api.plugins.process.publish_dataset.PublishDatasetProcessor

    wis2box-unpublish_dataset:
        type: process
        processor:
            name: wis2box_api.plugins.process.unpublish_dataset.UnpublishDatasetProcessor

    wis2box-synop2bufr:
      type: process
      processor:
        name: wis2box_api.plugins.process.synop2bufr.SynopPublishProcessor

    wis2box-csv2bufr:
      type: process
      processor:
        name: wis2box_api.plugins.process.csv2bufr.CSVPublishProcessor

    wis2box-bufr2bufr:
      type: process
      processor:
        name: wis2box_api.plugins.process.bufr2bufr.BufrPublishProcessor

    wis2box-publish_data:
      type: process
      processor:
        name: wis2box_api.plugins.process.universal_data.UniversalDataPublishProcessor

    wis2box-storage-event:
      type: process
      processor:
        name: wis2box_api.plugins.process.storage_event.StorageEventProcessor
